@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

header {
    max-width: 1600px;
    margin: 0 auto;
}

.menu {
    height: 74px;
    background: #222222;
    padding: 18px 0;
}

.menu-wrapp {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__left-side {
    width: 111px;
    display: flex;
    justify-content: space-between;
}

.menu__right-side {
    width: 169px;
    display: flex;
    justify-content: space-between;
}

.cartIconWrap {
    position: relative;
}

.cartCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    position: absolute;
    top: -8px;
    right: -8px;
    background: #F16D7F;
    border-radius: 50%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-main {
    height: 765px;
    display: flex;
}

.hmain-left-side {
    width: 50%;
}

.men-parka-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hmain-right-side {
    width: 50%;
    background: #F1E4E6;
    display: grid;
    align-items: center;
}

.tagline {
    margin: 0 0 0 76px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.first-line {
    display: block;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 33px;
    color: #222222;
}

.second-line {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 25px;
    color: #222222;
}

.pink {
    display: inline;
    color: #F16D7F;
}

.ss-second-line-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.store-sections {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    grid-gap: 30px;
}

.for-woman {
    background: url(img/for-woman.png);
}

.for-men {
    background: url(img/for-men.png);
}

.for-kids {
    background: url(img/for-kids.png);
}

.accesories {
    grid-column: 1/4;
    grid-row: 2/3;
    background: url(img/accesories.png);
}

.for-woman,
.for-men,
.for-kids,
.accesories {
    display: grid;
    align-content: center;
    background-position: center;
    background-size: cover;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.futuredGoods {
    display: grid;
    justify-items: center;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 95px;
}

.futuredGoods>h2 {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.futuredGoods>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: 580px;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    display: grid;
    justify-items: center;
    background: #F8F8F8;
}

.card-image {
    width: 100%;
    height: 420px;
}

.card-description {
    margin: 25px 16px 20px;
}

.card-description>h2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card-description>p {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.card-price {
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.all-prod-button {
    align-self: center;
    padding: 15px 40px;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

@media (max-width: 1024px) {
    .menu {
        padding: 18px 32px;
    }

    .header-main {
        height: 370px;
    }

    .men-parka-img {
        object-position: top;
    }

    .tagline {
        margin: 0 0 0 40px;
    }

    .first-line {
        margin-bottom: 10px;
        font-size: 44px;
        line-height: 30px;
    }

    .second-line {
        font-size: 24px;
        line-height: 19px;
    }

    .container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .store-sections {
        grid-template-rows: 170px 120px;
        margin-top: 20px;
        grid-gap: 20px;
    }

    .for-woman,
    .for-men,
    .for-kids,
    .accesories {
        background-position: top;
    }

    .cards {
        grid-template-columns: repeat(2, 380px);
        grid-gap: 16px;
        margin-top: 72px;
        margin-bottom: 32px;
    }

    .card-image {
        /* object-position: top; */
    }
}

@media (max-width: 667px) {
    .menu {
        padding: 18px 16px;
    }

    .cartIconWrap,
    .user-icon {
        display: none;
    }

    .menu__right-side {
        justify-content: flex-end;
    }

    .hmain-left-side {
        display: none;
    }

    .hmain-right-side {
        width: 100%;
        justify-items: center;
    }

    .tagline {
        margin: 0 0 0 0;
    }

    .first-line {
        font-size: 38px;
        line-height: 27px;
    }

    .second-line {
        font-size: 20px;
        line-height: 16px;
    }

    .store-sections {
        margin-top: 64px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 250px) 110px;
        grid-gap: 30px;
    }

    .accesories {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .cards {
        grid-template-columns: 380px;
        grid-template-rows: 580px;
        grid-gap: 16px;
        margin-top: 65px;
        margin-bottom: 40px;
    }
}